/* set up */

body {
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  } 

h1 {
    position: absolute;
    left: 500px;
    top: 200px;
    background-color: hsl(0, 88%, 51%); /* red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#yes-button {
    position: absolute;
    left: 450px;
    top: 300px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#no-button {
    position: absolute;
    left: 650px;
    top: 300px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}